
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        configuration: [Release]
        runtime: [win-x64]

    env:
      SOLUTION: CrossoutDBUploader.sln
      PROJECT: CrossoutDBUploader.csproj
      TEST_PROJECT: ''

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'

    - name: Restore
      run: dotnet restore ${{ env.SOLUTION }}

    - name: Build
      run: dotnet build ${{ env.SOLUTION }} --configuration ${{ matrix.configuration }} --no-restore

    - name: Test
      if: ${{ env.TEST_PROJECT != '' }}
      run: dotnet test ${{ env.TEST_PROJECT }} --configuration ${{ matrix.configuration }}

    - name: Publish
      run: dotnet publish ${{ env.PROJECT }} -c ${{ matrix.configuration }} -r ${{ matrix.runtime }} -o ./artifacts/publish

    - name: Upload published artifact
      uses: actions/upload-artifact@v4
      with:
        name: published-app
        path: ./artifacts/publish
